# Visit https://github.com/lowlighter/metrics#-documentation for full reference
name: Metrics
on:
  schedule: [{cron: "0 0 */5 * *"}] #每五天更新一次
  # Lines below let you run workflow manually and on each commit
  workflow_dispatch:  # 手动触发
  push:
    branches:
      - main
    paths:
      - '.github/workflows/Metrics.yml'  #配置改动时执行
jobs:
  github-metrics-main:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          filename: github-metrics-main.svg
          token: ${{ secrets.METRICS_TOKEN }}
          # Options
          template: classic
          base: header, activity, community, repositories, metadata
          base_indepth: yes
          config_display: large
          config_timezone: Asia/Shanghai

          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year

          plugin_wakatime: yes
          plugin_wakatime_sections: time, languages, languages-graphs, editors, editors-graphs, os, os-graphs
          plugin_wakatime_token: ${{ secrets.WAKATIME_TOKEN }}
          plugin_wakatime_days: 365
          plugin_wakatime_repositories_visibility: public